:root {
  --brand-color: #2196f3;
  --brand-color-secondary: #2f303a;
  --brand-color-third: #212121;
  --text-color: #757575;
  --brand-white: #ffffff;
}
/* общие стили */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--brand-white);
}

/* Главная страница */
/* удаляю подчеркивания в тексте/ссылках */
.link,
.street,
.logo,
address {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}
.list {
  list-style: none;
}
button {
  cursor: pointer;
}
/* оформление логотипа  */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
.logo span {
  color: var(--brand-color);
}

/* оформление меню хедера */
.point {
  font-weight: 500;
}
.navmenu .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color-third);
}
.header .link:active,
.header .link:focus,
.header .link:hover {
  color: var(--brand-color);
  cursor: pointer;
}
.link.current {
  color: var(--brand-color);
}

/* Оформление Баннера  */
.banner {
  background-color: var(--brand-color-secondary);
}
/* заголовок баннера  */
.banner .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-white);
}
/* кнопка заказать на баннере  */
.banner .order {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-white);

  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

/* Главный заголовок секций */
.section .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}

/* секция Особенности  */
/* заголовки  */
.section .title.h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-third);
}

/* секция Чем мы занимаемся  */
/* -  */

/* секция Наша Команда  */

.section.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
.section.team .text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}

/* футер  */
.footer {
  background-color: var(--brand-color-secondary);
}
.footer .logo {
  color: var(--brand-white);
}
.footer .list {
  font-size: 14px;
  line-height: 1.72;

  letter-spacing: 0.03em;
  color: var(--brand-white);
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:active,
.footer .link:focus {
  color: var(--brand-color);
}

/* Страница Портфолио  */

/* Фильтра  */
.filtrs .link {
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
.filtrs .link:active,
.filtrs .link:focus,
.filtrs .link:hover {
  background-color: var(--brand-color);
  color: var(--brand-white);
}

/* Портфолио список  */
.portfolio .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--brand-color-third);
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}
