:root {
  --brand-color: #2196f3;
  --brand-color-secondary: #2f303a;
  --brand-color-third: #212121;
  --text-color: #757575;
  --brand-white: #ffffff;
}
/* общие стили */
body {
  font-family: "roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--brand-white);
}

/* Главная страница */

/* удаляю подчеркивания в тексте/ссылках */
.logo,
.nav-link,
.contacts {
  text-decoration: none;
}

/* удаляю маркеры в списках  */
.nav-list,
.nav-contact,
.list {
  list-style: none;
}

/* хедер */

/* стиль лого */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color-secondary);
}
.logo > span {
  color: var(--brand-color);
}
/* цвета ссылок в навигации меню */
.nav-contact .nav-link {
  color: var(--text-color);
}
.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color-third);
  text-decoration: none;
  cursor: pointer;
}

/* баннер герой*/
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-white);
  background-color: var(--brand-color-secondary);
}
.bbutton {
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--brand-white);
  cursor: pointer;
}
/* особенности */
.sec-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-third);
}
/* чем мы занимаемся */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
/* наша команда */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
/* подвал */
.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-white);
  background-color: var(--brand-color-secondary);
}
.contacts > .nav-link {
  color: var(--text-color);
}

/* ссылки при наведении */
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--brand-color);
  cursor: pointer;
}

/* Страница портфолио */

/* удаляю подчеркивания в тексте/ссылках */
.filtr-link,
.portfolio-link {
  text-decoration: none;
}

.filtr-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}
.filtr-link:active,
.filtr-link:hover,
.filtr-link:focus {
  background-color: var(--brand-color);
  color: var(--brand-white);
}
.portfolio-link {
  color: inherit;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-third);
}
